# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log

# Local settings for final_project
.vscode/
.vscode-server/

logs/
*.mp4

outputs/
deploy/library/
deploy/cmake_build/

MUJOCO_LOG.TXT